@import 'DailyForecast';

.day-card {
	margin-top: 35px;
	padding: 10px;
	color: white;
	display: inline-block;
	@include card-style(rgba(45, 52, 54, 0.4), 500px);
}

.align {
	display: inline-block;
	vertical-align: top;
}

.descr {
	padding-top: 35px;
}
